.content_app{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .content_app{
        flex-direction: row;
    }
}
